<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReikoExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReikoSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>544435301E1F32A400876D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544435491E1F32A400876D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544435541E1F32A400876D09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54F10F2D1E5D9E4D00BAE58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
